table{
    border: 1px solid;
    height: 150px;
    width: 1000px;
}
.about-section{
    background-image: url(../Images/white.jpg);
    height: 100vh;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    padding-top: 50px;
    margin-bottom: 100px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}